.advantages__list {
  @include no-list;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.advantages__item {
  color: #ffffff;
  background-color: #81b3d2;

  &--city {
    padding-top: 37px;

    background-image: url("../img/bg-triangle.svg");
    background-position: top center;
    background-repeat: no-repeat;
  }

  &--small {
    color: #333333;

    background-color: #eeeeee;
    border-bottom: 1px solid #d7d7d7;
  }

  &--small br {
    display: none;
  }

  &--small .advantages__item-content {
    padding: 27px 0;
  }

  &--small .advantages__text {
    padding: 0 32px;
  }

  &--small .advantages__number::before {
    background-color: #333333;
  }

  &--small .advantages__number::after {
    background-color: #333333;
  }

  &--small:last-child {
    border-bottom: none;
  }

  @media (min-width: $tablet-width) {
    width: 100%;

    &--city {
      padding-top: 0;

      background-image: none;
    }

    &--small {
      width: 33%;
      flex-grow: 1;
      border-bottom: none;
    }

    &--small .advantages__item-content {
      padding-top: 41px;
      padding-bottom: 44px;
    }

    &--small .advantages__text {
      padding: 0;
    }

    &--bridge {
      display: flex;
      // допустимо ли такое вложение
      .advantages__item-content {
        order: 1;
      }
    }
  }

  @media (min-width: $desktop-width) {
    &--small br {
      display: inline;
    }

    &--small .advantages__item-content {
      padding-bottom: 66px;
    }
  }
}

.advantages__item-content {
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-top: 46px;

    &--small {
      width: 158px;
      margin: 0 auto;
    }
  }

  @media (min-width: $desktop-width) {
    &--small {
      width: 270px;
    }
  }
}

.advantages__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.advantages__header {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin: 0;
  margin-bottom: 16px;

  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 22px;

    font-size: 21px;
  }
}

.advantages__number {
  position: relative;

  margin-top: 8px;

  font-size: 14px;
  line-height: 21px;
  font-weight: normal;

  &::before {
    content: "";

    position: absolute;
    left: -13px;
    top: 10px;

    width: 10px;
    height: 2px;

    background-color: #ffffff;
  }

  &::after {
    content: "";

    position: absolute;
    right: -13px;
    top: 10px;

    width: 10px;
    height: 2px;

    background-color: #ffffff;
  }
}

.advantages__text {
  margin: 0;
  padding: 0 20px;

  font-size: 14px;
  line-height: 21px;
  text-align: center;
}

.advantages__image {
  display: block;
}
