.booking {
  padding-top: 30px;
}

.booking__title {
  margin: 0;
  margin-bottom: 25px;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.booking__text {
  margin: 0;
  margin-bottom: 35px;
}

.booking__link {
  display: block;
  margin-bottom: 50px;
}
