.features {
  padding: 0;
  padding-top: 8px;
  padding-bottom: 55px;

  list-style: none;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-around;
    padding-top: 54px;
    padding-bottom: 61px;
  }
}

.features__item {
  position: relative;

  padding-top: 28px;
  padding-left: 70px;

  &::before {
    content: "";

    position: absolute;

    background-repeat: no-repeat;
    background-position: left top;
    background-size: contain;
  }

  &--souvenirs {
    order: 1;
  }

  &--housing::before {
    left: 21px;
    top: 18px;

    width: 39px;
    height: 37px;

    background-image: url("../img/icon-house.svg");
  }

  &--souvenirs::before {
    left: 24px;
    top: 16px;

    width: 32px;
    height: 38px;

    background-image: url("../img/icon-gift.svg");
  }

  &--food::before {
    left: 19px;
    top: 22px;

    width: 40px;
    height: 35px;

    background-image: url("../img/icon-burger.svg");
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    width: 170px;

    &::before {
      position: static;

      margin-bottom: 26px;
    }

    &--housing::before {
      width: 75px;
      height: 72px;
      // Правильное ли это решение для выравнивания иконок по нижней границе?
      margin-top: 3px;
    }

    &--souvenirs::before {
      width: 64px;
      height: 75px;
    }

    &--food::before {
      width: 77px;
      height: 68px;
      margin-top: 7px;
    }
  }
}

.features__header {
  margin: 0;
  margin-bottom: 14px;

  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;

  @media (min-width: $tablet-width) {
    margin-bottom: 22px;

    font-size: 21px;
  }
}

.features__description {
  margin: 0;

  font-size: 14px;
  line-height: 21px;
  color: #333333;

  @media (min-width: $tablet-width) {
    text-align: center;
  }
}
