.features {
  padding: 0;
  padding-top: 40px;

  list-style: none;
  background-color: #ffffff;
}

.features__header {
  margin: 0;
  margin-bottom: 20px;

  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.features__description {
  margin: 0;
  margin-bottom: 40px;

  font-size: 14px;
  line-height: 21px;
  color: #333333;
}
