.main-nav-list {
  @include no-list;
  background-color: #81b3d2;
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    background-color: #ffffff;
  }
}

.main-nav-list__item {
  border-bottom: 1px solid #678fa8;
  border-top: 1px solid #9ac2db;

  &--active .main-nav-list__link {
    color: #766357;

    &:hover {
      color: #604e43;
    }

    &:active {
      color: #d6d0cc;
    }
  }

  @media (min-width: $tablet-width) {
    border: none;

    &:nth-child(2) {
      margin-right: auto;
    }
  }
}

.main-nav-list__link {
  display: block;
  padding: 7px 0;

  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  color: #ffffff;
  text-decoration: none;

  &:hover {
    color: #81b3d2;
  }

  &:active {
    color: #cacaca;
  }

  @media (min-width: $tablet-width) {
    width: 153px;
    padding: 15px 0;

    font-size: 14px;
    line-height: 26px;
    color: #000000;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    width: 239px;
  }
}
