.main-nav__menu-btn {
  position: absolute;
  right: 20px;
  top: 16px;

  width: 23px;
  height: 22px;

  background-image: url("../img/icon-menu.svg");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
