.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateY(-50%);

  width: 320px;
  margin-left: -160px;
  padding-top: 40px;

  background-color: #ffffff;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.15);

  &--success {
    display: none;

    @media (min-width: $tablet-width) {
      width: 640px;
      margin-left: -320px;
      padding-top: 62px;
    }

    .modal__button-wrapper {
      margin-bottom: 0;
      margin-top: 34px;
      padding: 20px;

      background-color: #f2f2f2;

      @media (min-width: $tablet-width) {
        margin-top: 0;
        padding-top: 45px;
        padding-bottom: 46px;
      }
    }

    .modal__text {
      @media (min-width: $tablet-width) {
        margin-left: 110px;
        margin-right: 110px;
      }
    }
  }

  &--error {
    display: none;

    @media (min-width: $tablet-width) {
      width: 400px;
      margin-left: -200px;
      padding-top: 56px;
    }

    .modal__header {
      @media (min-width: $tablet-width) {
        margin-left: 75px;
        margin-right: 75px;
      }
    }

    .modal__button-wrapper {
      @media (min-width: $tablet-width) {
        padding-bottom: 49px;
      }
    }

    .modal__button {
      width: 180px;

      @media (min-width: $tablet-width) {
        width: 272px;
      }
    }
  }
}

.modal__header {
  margin: 0;
  margin-bottom: 26px;

  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #000000;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 40px;

    margin-bottom: 24px;
  }
}

.modal__text {
  margin: 0 48px 22px;

  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 33px;
  }
}

.modal__button-wrapper {
  padding-bottom: 36px;
}

.modal__button {
  margin: 0 auto;

  font-size: 18px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }
}
