.page-footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 35px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 37px;
  }
}

.page-footer__hashtag {
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}
