.page-main__title {
  margin: 0;
  margin-top: 38px;
  margin-bottom: 27px;
  padding: 0 25px;

  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-align: center;

  &--main-page {
    margin-top: 40px;
    margin-bottom: 27px;
  }

  @media (min-width: $tablet-width) {
    padding: 0 165px;
    margin-top: 74px;
    margin-bottom: 31px;

    font-size: 30px;

    &--main-page {
      margin-top: 50px;
      margin-bottom: 27px;

      font-size: 21px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 112px;
    padding: 0 310px;

    &--main-page {
      margin-top: 50px;
    }
  }
}

.page-main__title-caption {
  margin: 0;
  margin-bottom: 26px;

  line-height: 24px;
  text-align: center;
  padding: 0 10px;

  &--main-page {
    margin-bottom: 5px;

    line-height: 26px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
    padding: 0 165px;

    &--main-page {
      padding: 0 130px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0 380px;

    &--main-page {
      padding: 0 350px;
    }
  }
}
