.page-wrapper {
  width: $mobile-width;
  margin: 0 auto;

  background: #ffffff;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;

    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  }
}
