.page-header {
  position: relative;

  height: 214px;

  background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/text-sedona.svg"), url("../img/bg-back-mobile@1x.jpg");
  background-position: bottom center, bottom 67px center, bottom center;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 104%, 232px, auto;

  &--main-page {
    height: 445px;

    background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/text-sedona-index.svg"), url("../img/bg-back-mobile@1x.jpg");
    background-position: bottom center, bottom 85px center, bottom center;
    background-size: 104%, 280px, auto;
  }

  @media (min-width: $tablet-width) {
    height: 346px;

    background-image: url("../img/bg-intro-triangle-tablet.svg"), url("../img/text-sedona.svg"), url("../img/bg-back-tablet@1x.jpg");
    background-position: bottom center, top 150px center, bottom center;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 100%, 460px, auto;

    &--main-page {
      height: 574px;

      background-image: url("../img/bg-intro-triangle-tablet.svg"), url("../img/text-sedona-index.svg"), url("../img/bg-back-tablet@1x.jpg");
      background-position: bottom center, top 133px center, bottom center;
    }
  }

  @media (min-width: $desktop-width) {
    height: 357px;

    background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/text-sedona.svg"), url("../img/bg-back-desktop@1x.jpg");
    background-position: bottom center, top 157px center, bottom center;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 100%, 460px, auto;

    &--main-page {
      height: 574px;

      background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/text-sedona-index.svg"), url("../img/bg-back-desktop@1x.jpg");
      background-position: bottom center, top 133px center, bottom center;
    }
  }
}

.page-header__logo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  display: block;
  width: 102px;
  margin: 0 auto;
}

.page-header__logo-image {
  display: block;
}
