.page-footer {
  padding: 35px $mobile-padding 20px;
}

.page-footer__hashtag {
  margin-bottom: 35px;
}

.pagefooter__social {
  margin-bottom: 35px;
}

@media (min-width: $tablet-width) {
  .page-footer {
    display: flex;
    justify-content: space-between;
    padding: 35px $tablet-padding 20px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    display: flex;
    justify-content: space-between;
    padding: 35px $desktop-padding 20px;
  }
}
