.photos__list {
  @include no-list;
}

.photos__item {
  padding-top: 22px;

  border-top: 1px solid #e5e5e5;
}

.photos__image {
  display: block;
  margin-bottom: 20px;
}

.photos__title {
  margin: 0;
  margin-bottom: 10px;

  font-weight: bold;
  color: #000000;
}

.photos__author {
  margin: 0;
  margin-bottom: 15px;

  text-transform: none;
}

.photos__likes {
  margin: 0;
  margin-bottom: 25px;
}

.photos__likes-number {
  font-weight: bold;
  color: #000000;
}

@media (min-width: $tablet-width) {
  .photos__list {
    display: flex;
    flex-wrap: wrap;
  }

  .photos__item {
    width: 50%;
  }

  .photos__item--first {
    width: 100%;
  }

  .photos__caption {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .photos__item {
    position: relative;
  }

  .photos__caption {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
