.review {
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.review__item {
  margin: 0;


  border-top: 1px solid #e5e5e5;

  @media (min-width: $tablet-width) {
    width: 100%;
  }

  &--impression {
    .review__title {
      margin-bottom: 37px;
    }

    .review__label {
      padding-left: 79px;
    }

    .review__field-group {
      margin-bottom: 43px;
    }

    padding: 18px $mobile-padding 0;

    @media (min-width: $tablet-width) {
      width: 50%;
      order: -1;
    }
  }

  &--name {
    @media (min-width: $tablet-width) {
      width: 50%;
    }

    padding: 19px $mobile-padding 5px;

    .review__label {
      margin-right: 15px;
    }

    .review__field-group {
      display: flex;
      align-items: center;
    }

    .review__field {
      flex-grow: 1;
    }
  }

  &--contact {
    padding: 19px $mobile-padding 17px;

    .review__label {
      margin-bottom: 6px;
      margin-left: 21px;
      display: block;

      @media (min-width: $desktop-width) {
        display: inline;
      }
    }

    .review__field {
      width: 100%;
    }

    .review__field-group {
      margin-bottom: 12px;
    }

    .review__fields-wrapper {
      @media (min-width: $tablet-width) {
        flex-direction: column;
      }

      @media (min-width: $desktop-width) {
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }

  &--sights {
    padding: 18px $mobile-padding 17px;

    .review__title {
      margin-bottom: 31px;
    }

    .review__label {
      padding-left: 78px;
    }

    .review__field-group {
      margin-bottom: 54px;

      &:last-child {
        margin-bottom: 24px;
      }

      @media (min-width: $tablet-width) {
        width: 50%;
      }

      @media (min-width: $desktop-width) {
        width: 25%;
      }
    }
  }

  &--emotions {
    padding: 18px $mobile-padding 24px;

    .review__title {
      margin-bottom: 17px;
    }

    .review__field {
      width: 100%;
      height: 160px;
      padding: 16px 20px;
    }
  }
}

.review__title {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;

  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-align: center;
}

.review__field-group {
  margin-bottom: 20px;
}

.review__label {
  font-size: 14px;
  line-height: 26px;

  &--bold {
    font-weight: bold;
    font-size: 18px;
    color: #000000;
    text-transform: none;
  }
}

.review__fields-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.review__field {
  height: 58px;

  border: none;
  background-color: #f2f2f2;

  &::placeholder {
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    color: #000000;
    text-transform: none;
  }

  &--text {
    min-width: 160px;
    padding: 10px 20px;
  }
}

.review__radio {
  & + .review__label {
    position: relative;

    &::before {
      content: "";

      position: absolute;
      top: -15px;
      left: 0;

      width: 56px;
      height: 56px;

      background-color: #f2f2f2;
      border-radius: 50%;
    }
  }

  &:checked + .review__label {
    &::after {
      content: "";

      position: absolute;
      top: 2px;
      left: 17px;

      width: 22px;
      height: 22px;

      background-color: #333333;
      border-radius: 50%;
    }
  }
}

.review__checkbox {
  & + .review__label {
    position: relative;

    &::before {
      content: "";

      position: absolute;
      top: -15px;
      left: 0;

      width: 56px;
      height: 56px;

      background-color: #f2f2f2;
      border-radius: 6px;
    }
  }

  &:checked + .review__label {
    &::after {
      content: "";

      position: absolute;
      top: 5px;
      left: 17px;

      width: 24px;
      height: 16px;

      background-image: url("../img/icon-tick.svg");
      background-repeat: no-repeat;
    }
  }
}


.review__input-wrapper {
  position: relative;

  &::after {
    content: "";

    position: absolute;
    top: 0;
    right: 0;

    width: 58px;
    height: 100%;

    background-color: #e6e6e6;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--phone::after {
    background-image: url("../img/icon-phone.svg");
    background-size: 18px 18px;
  }

  &--email::after {
    background-image: url("../img/icon-mail.svg");
    background-size: 16px 12px;
  }
}

.review__submit-wrapper {
  padding: 0 $mobile-padding;

  @media (min-width: $tablet-width) {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.review__submit-caption {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
