.social {
  @include no-list;

  margin-bottom: 35px;
  display: flex;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  margin: 0 3px;

  color: #ffffff;

  background-color: #81b3d2;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;

    svg {
      opacity: 0.3;
    }
  }

  svg {
    fill: #ffffff;
  }
}
