.video {
  padding-top: 34px;
  padding-bottom: 41px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 66px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 71px;
    padding-bottom: 83px;
  }
}

.video__title {
  margin: 0;
  margin-bottom: 25px;
  padding: 0 30px;

  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  color: #000000;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;

    font-size: 30px;
  }
}

.video__text {
  margin: 0;
  margin-bottom: 35px;
  padding: 0 30px;

  font-size: 14px;
  line-height: 24px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 0 165px;

    margin-bottom: 74px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 380px;
  }
}

.video__wrapper {
  @media (min-width: $tablet-width) {
    position: relative;
  }
}

.video__content {
  display: block;

  @media (min-width: $tablet-width) {
    width: 648px;  // временные стили
    height: 500px; // временные стили
  }
}

.video__controls {
  position: relative;

  height: 110px; // временные стили
  background-color: red;
  margin: -44px 20px 0;

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 0;

    margin: 0;
    width: 100%;
    height: 93px; // временные стили
  }
}
