.video {
  padding-top: 34px;
  padding-bottom: 41px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 66px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 71px;
    padding-bottom: 85px;
  }
}

.video__title {
  margin: 0;
  margin-bottom: 25px;
  padding: 0 30px;

  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  color: #000000;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;

    font-size: 30px;
  }
}

.video__text {
  margin: 0;
  margin-bottom: 35px;
  padding: 0 30px;

  font-size: 14px;
  line-height: 24px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 0 165px;

    margin-bottom: 74px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 380px;
    margin-bottom: 72px;
  }
}

.video__wrapper {
  @media (min-width: $tablet-width) {
    position: relative;
  }
}

.video__content {
  display: block;

  @media (min-width: $tablet-width) {
    width: 648px;  // временные стили
    height: 500px; // временные стили
  }

  @media (min-width: $desktop-width) {
    width: 800px;  // временные стили
    height: 500px; // временные стили
  }
}

.video__controls {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  margin: -44px 20px 0;

  background: linear-gradient(to top, #f2f2f2 66px, transparent 66px);

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 0;

    margin: 0;
    padding: 0 27px;
    width: 100%;

    background: rgba(0, 0, 0, 0.6);
  }
}

.video__volume-wrapper {
  width: 280px;
  height: 44px;
  padding: 21px 22px 0;

  background-color: rgba(0, 0, 0, 0.6);

  @media (min-width: $tablet-width) {
    width: 432px;
    margin-top: 23px;
    margin-right: auto;

    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    width: 583px;
  }
}

.video__volume-bar {
  position: relative;
  height: 3px;

  background-color: rgba(255, 255, 255, 0.2);
}

.video__volume-toggle {
  position: absolute;
  left: 36px;
  top: -2px;

  width: 9px;
  height: 9px;

  background-color: #ffffff;
  border-radius: 50%;
}

.video__btn {
  margin: 15px;
  padding: 8px;
  border: 0;

  background-color: transparent;

  &--repeat {
    margin-right: auto;
  }

  &--closed-captions {
    margin-right: 0;
  }

  svg {
    background-color: red; // временная разметка
    display: block;
  }

  @media (min-width: $tablet-width) {
    margin: 26px 0 30px 0;

    &--repeat {
      order: -1;
      margin-right: 12px;
    }

    &--closed-captions {
      margin-right: 15px;
    }

    &--fullscreen {
      margin-right: 6px;
    }
  }
}
