.button {
  display: block;
  padding: 16px;
  width: 280px;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;

  background-color: #81b3d2;
  border: none;

  @media (min-width: $tablet-width) {
    width: 458px;
  }
}
